*{
	padding:0;
	margin:0;
	box-sizing:border-box;
}
.main2,
.main{
	height:100vh;
	width:100%;
	position:relative;
}
.main video{
	width:100%;
	height:100%;
	object-fit:cover;
	pointer-events:none;
}
.main h2,
.main2 h2{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
}
.main2{
	background:#583e35;
	color:#fff;
}